@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper .sidebar {
  background-color: rgb(44, 46, 46);
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}
.wrapper .sidebar .profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.wrapper .sidebar .profile h3 {
  color: white;
  margin: 0px 10px 0px 10px;
}
.wrapper .sidebar .profile p {
  color: white;
  margin: 0px;
}

.wrapper .sidebar ul {
  padding: 0;
  text-align: center;
  justify-content: center;
}
.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}
.wrapper .sidebar ul li a:hover {
  color: #0c7db1;
}
.wrapper .sidebar ul li .material-icons{
  margin-right: 5px;
  vertical-align: text-bottom;
}
